.footer{
    height: 250px;
    width: 100%;
    background-color: #323232;
    display: flex;
    padding: 10px;
    flex-direction: column;
    color: #dee6ef;
}
.footer-ul{
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    width: 75% ;
}
.second-part{
    margin-top: 20px;
}